<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829013516632-h1coa2aluniafm7p6kffogqro88sjopq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829013516632-h1coa2aluniafm7p6kffogqro88sjopq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829013516632-5tt90jrgkoaiaaijmer7auqi14ssfsga.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_iAfD8VzXxTROb1Q3bQ885jahYZTZmoU</string>
	<key>GCM_SENDER_ID</key>
	<string>829013516632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.comradehealth</string>
	<key>PROJECT_ID</key>
	<string>comradehealth-d02b4</string>
	<key>STORAGE_BUCKET</key>
	<string>comradehealth-d02b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829013516632:ios:48eac24fdf9b151848052d</string>
</dict>
</plist>